html{
  margin: o;
  padding: 0;
}

body{
  width: 100vw;
  
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#allthebest {
  width: 90vw;
  overflow: hidden;

  justify-self: center;
  align-self: center;
}

#allthebest {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  
   
}

#chu{
  width: 60vw;
}

